html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5f7f9;
}
#app {
  width: 100%;
  height: 100%;
}

.van-nav-bar {
  background-color:#d86262;
  .van-nav-bar__arrow{
    color: #fff;
  }
  .van-nav-bar__title {
    color: #fff;
  }
}